{
    "parserOptions": {
      "ecmaVersion": 9
    },
    "env": {
      "jquery": true,
      "node": true
    },
   
    "rules": {
      "no-console": "off",
      "space-before-function-paren": [
        "error",
        {
          "anonymous": "ignore",
          "named": "ignore",
          "asyncArrow": "always"
        }
      ]
    },
    "globals": {
      "$": true,
      "$$": true
    }
}
